@import url('https://fonts.googleapis.com/css2?family=Liter&family=Young+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #052c25;
}


.Cadastro{
    display: flex;
    height: 100%;
    width: 100%;
    padding: 2rem;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b3dad9;
    width: 100%;
    height: 8%;
    gap: 10px;
    font-family: "Liter", sans-serif;
}

nav a{
    text-decoration: none;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #052c25;
    border-radius: 5px;
    padding: 10px 20px;
    opacity: 90%;
    transition: transform 0.3s ease, opacity 0.3s ease ;

}

nav a:hover{
    opacity: 100%;
    transform: scale(1.1);
}

.cad_titulo{
    font-family: "Young Serif", "Times New Roman";
    width: 40%;
    display: flex;
    align-items: center;
}

.cad_titulo h1{
    width: 100%;
    font-size: 700%;
    color: #b3dad9;
    opacity: 90%;
}
/* Livros */
.formulario{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-around;
    
}

#cadastro_livros{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: fit-content;
    background-color: #f9f9f9;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    font-family: "Liter", sans-serif;
}

input{
    align-self: stretch;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 20px;
    box-sizing: border-box;
    font-family: "Liter", sans-serif;
}

#liv-p-i-a{
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 10px;
}

#liv-p-i-a div{
    display: flex;
    flex-direction: column;
}

#pais{
    width: 100%;
}

#disbn{
    width: 50%;
}

#dano{
    width: 30%;
}

#liv-sel-q-p{
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
}


select{
    padding: 5px;
    border: 1px solid #052c25;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    font-size: 20px;
}

#q-p, #q-p div, .select{
    display: flex;
    flex-direction: column;
}

.select{
    width: 60%;
}

#cadastro_livros button{
    align-self: center;
    width: 30%;
    padding: 0.5rem;
    background-color: #b3dad9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Autor */

#cadastro_autor, #cadastro_editora, #cadastro_genero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 50%;
    height: 25%;
    padding: 1rem;
    gap: 5px;
    font-size: 25px;
    font-family: "Liter", sans-serif;
}

#editar_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 60%;
    height: 80%;
    padding: 1rem;
    gap: 5px;
}

#editar_info .p1, #editar_info .p2{
    display: flex;
    justify-content: space-between;
}

.p1 div, .p2 div{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 2px;
}

.p2 #dnum{
    width: 15%;
}

#excluir{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#excluir span{
    color: #ffffff;
    text-align: left;
    font-weight: bolder;
}

#excluir button{
    align-self: center;
    width: 100%;
    padding: 0.5rem;
    background-color: #b3dad9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#cadastro_autor button, #cadastro_editora button, #cadastro_genero button, #editar_info button{
    align-self: center;
    width: 50%;
    padding: 0.5rem;
    background-color: #b3dad9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 25px;
}

.flash-messages {
    margin: 10px 0;
    padding: 10px;
}

.flash-message {
    padding: 10px;
    border-radius: 14px;
    font-family: "Liter", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 20vh;
    right: 3vw;
}

.flash-message.success {
    background-color: #44a047;
    color:#f9f9f9;
}

.flash-message.warning {
    background-color:#ffb300df;
    color:#f9f9f9;
}

.flash-message.error {
    background-color:#b92929;
    color:#f9f9f9;
}