@import url('https://fonts.googleapis.com/css2?family=Liter&family=Young+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #052c25;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b3dad9;
    width: 100%;
    height: 70px;
    gap: 10px;
}

nav a{
    text-decoration: none;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #052c25;
    border-radius: 5px;
    padding: 10px 20px;
    opacity: 90%;
    transition: transform 0.3s ease, opacity 0.3s ease ;

}

nav a:hover{
    opacity: 100%;
    transform: scale(1.1);
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 2rem;
}

.list_titulo{
    width: 40%;
    display: flex;
    align-items: center;
}

.list_titulo h1{
    width: 100%;
    font-size: 300%;
    color: #b3dad9;
    opacity: 90%;
}

.form{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    gap: 1vh;
    flex-direction: column;
    align-items: center;
    width: 27%;
    height: 17%;
    font-family: "Liter", sans-serif;
}

.form label{
    color: white;
    font-size: 17px;
}

.form input {
    font-size: 17px;
}

.botao{
    align-self: center;
    width: 40%;
    padding: 0.5rem;
    background-color: #b3dad9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Liter", sans-serif;
    font-size: 17px;
}

.table{
    border: 5px solid black;
    padding: 2rem;
    height: 35%;
    width: 27%;
    background-color: #f9f9f9;
    gap: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
    font-family: "Liter", sans-serif;
    }

.table thead{
    border: 1px solid black;

}

.table tbody{
    border: 1px solid black;
}

h2 {
    position: absolute;
    top: 30vh;
    right: 12vw;
    font-family: "Liter", sans-serif;
    font-size: 32px;
    color: #f9f9f9;
}

label, .botao, select {
    font-size: 20px;
    font-family: "Liter", sans-serif;
}