body{
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #baf1e6;
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1{
    display:inline;
    font-size: 45px;
    color: #052c25
}
p{
    color: #f9f9f9;
}
button{
    width: 150px;
    height: 35px;
    background-color: rgb(83, 124, 146);
    margin: 3px;
    border: none;
    border-radius: 8px;
    font-size: 14px;
}