@import url('https://fonts.googleapis.com/css2?family=Liter&family=Young+Serif&display=swap');

body{
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #baf1e6;
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1{
    display:inline;
    font-size: 105px;
    color: #052c25;
    font-family: "Young Serif", "Times New Roman";
}
p {
    color: #f9f9f9;
    font-family: "Liter", sans-serif;
    font-size: 30px;
}
button{
    width: 30vw;
    height: 4vw;
    background-color: rgb(83, 124, 146);
    margin: 3px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-family: "Liter", sans-serif;
    font-size: 30px;
    color: #f9f9f9;    
    transition: transform 0.3s ease, opacity 0.3s ease ;
}

button:hover{
    opacity: 100%;
    transform: scale(1.1);
}

img {
    z-index: -1;
    opacity: 40%;
    width: 50vw;
    position: fixed;
    left: 25vw;
}

.flash-messages {
    margin: 10px 0;
    padding: 10px;
}

.flash-message {
    padding: 10px;
    border-radius: 14px;
    font-family: "Liter", sans-serif;
    font-size: 20px;
    position: absolute;
    top: 20vh;
    right: 3vw;
}

.flash-message.success {
    background-color: #44a047;
    color:#f9f9f9;
}

.flash-message.warning {
    background-color:#ffb300df;
    color:#f9f9f9;
}

.flash-message.error {
    background-color:#b92929;
    color:#f9f9f9;
}