<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Livro</title>
</head>
<body>
    <form method="POST" action="{{ url_for('cadastrar_livro') }}">
        <label for="titulo">Título do Livro:</label>
        <input type="text" name="titulo" id="titulo" required>
    
        <label for="isbn">ISBN:</label>
        <input type="text" name="isbn" id="isbn" required>
    
        <label for="ano">Ano de Publicação:</label>
        <input type="number" name="ano" id="ano" required>
    
        <label for="autor">Autor:</label>
        <select name="autor" id="autor" required>
            {% for autor in autores %}
            <option value="{{ autor[0] }}">{{ autor[1] }}</option>
            {% endfor %}
        </select>
    
        <label for="editora">Editora:</label>
        <select name="editora" id="editora" required>
            {% for editora in editoras %}
            <option value="{{ editora[0] }}">{{ editora[1] }}</option>
            {% endfor %}
        </select>
    
        <label for="genero">Gênero:</label>
        <select name="genero" id="genero" required>
            {% for genero in generos %}
            <option value="{{ genero[0] }}">{{ genero[1] }}</option>
            {% endfor %}
        </select>
    
        <label for="pais_origem">País de Origem:</label>
        <input type="text" name="pais_origem" id="pais_origem" required>
    
        <label for="estoque">Quantidade em Estoque:</label>
        <input type="number" name="estoque" id="estoque" required>
    
        <label for="preco">Preço (R$):</label>
        <input type="number" name="preco" id="preco" step="0.01" required>
    
        <button type="submit">Adicionar Livro</button>
    </form>
    
</body>
</html>