<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Cadastro de Usuários</h1>

    <form action="post">
        <label for="nome">Nome:</label>
        <input type="nome" placeholder="Nome">
        <label for="email">Email:</label>
        <input type="email" placeholder="Email">
        <label for="telefone">Telefone:</label>
        <input type="tel" placeholder="Telefone">
        <label for="endereco">Endereço:</label>
        <input type="text" placeholder="Endereço">
    </form>
</body>
</html>