<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastrosgerais.css') }}">
    <title>Cadastrar Editora</title>
</head>
<body>
    <nav>
        <a href="gerente_dashboard">Início</a>
        <a href="cadastrar_livro">Livro</a>
        <a href="cadastrar_autor">Autor</a>
        <a style="background-color: #052c25; color: white" href="cadastrar_editora">Editora</a>
        <a href="cadastrar_genero">Gênero</a>
    </nav>
    <main class="Cadastro">
        <div class="cad_titulo">
            <h1>Editora</h1>
        </div>
        <div class="formulario">
            <form method="POST" action="{{ url_for('cadastrar_editora') }}" id="cadastro_editora">
                <label for="autor_nome">Nome da Editora:</label>
                <input type="text" name="editora_nome" id="editora_nome" required>
                <button type="submit">Cadastrar Editora</button>
            </form>
        </div>
    </main>
</body>
</html>
