<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='cadastrosgerais.css') }}">
    <title>Cadastrar Gênero</title>
</head>
<body>
    <nav>
        <a href="gerente_dashboard">Início</a>
        <a href="cadastrar_livro">Livro</a>
        <a href="cadastrar_autor">Autor</a>
        <a href="cadastrar_editora">Editora</a>
        <a style="background-color: #052c25; color: white" href="cadastrar_genero">Gênero</a>
    </nav>
    <main class="Cadastro">
        <div class="cad_titulo">
            <h1>Gênero</h1>
        </div>
        <div class="formulario">
            <form method="POST" action="{{ url_for('cadastrar_genero') }}" id="cadastro_genero">
                <label for="autor_nome">Nome do Gênero:</label>
                <input type="text" name="genero_nome" id="genero_nome" required>
                <button type="submit">Cadastrar Gênero</button>
            </form>
        </div>
    </main>
</body>
</html>
