<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='gerente.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='images/book-icon.png')}}" type="image/x-icon">
    <title>Dashboard do Gerente</title>
</head>
<body> 
    <main>
        <div id="container">
            <div id="atividades">
                <h1> O que você deseja fazer hoje?</h1>
                <ul>
                    <li><a href="{{ url_for('cadastrar_livro') }}">Cadastrar Livro</a></li>
                    <li><a href="{{ url_for('cadastrar_autor') }}">Cadastrar Autor</a></li>
                    <li><a href="{{ url_for('cadastrar_editora') }}">Cadastrar Editora</a></li>
                    <li><a href="{{ url_for('cadastrar_genero') }}">Cadastrar Gênero</a></li>
                    <form action="{{ url_for('logout') }}" method="get" id="sair">
                        <button id="but_sair" type="submit">Fazer Logout</button>
                </ul>
            </div>
            <div id="filtros">
                <h2>Filtros</h2>
                <ul>
                    <li><a href="{{ url_for('listar_livros') }}">Listar Livros</a></li>
                    <li><a href="{{ url_for('listar_clientes') }}">Listar Clientes</a></li>
                    <li><a href="{{ url_for('listar_emprestimos') }}">Listar Empréstimos</a></li>
                    <li><a href="{{ url_for('top_livros') }}">Top Livros Pedidos</a></li>
                    <li><a href="{{ url_for('livros_nao_emprestados') }}">Livros Não Emprestados</a></li>
                    <li><a href="{{ url_for('relatorio_emprestimos_cliente') }}">Total de Empréstimos por Cliente</a></li>
                    <li><a href="{{ url_for('clientes_acima_cem') }}">Clientes Acima de R$100</a></li>
                    <li><a href="{{ url_for('listagem_logs') }}">Listar Logs</a></li> <!-- Nova opção adicionada -->
                </ul>
            </div>

        </div>
        </form>
        <aside>
            <div id="infos">
                <div class="info">
                    <span>{{total_livros}}</span>
                    <h1>Livros</h1>
                </div>
                <div class="info">
                    <span>{{total_autores}}</span>
                    <h1>Autores</h1>
                </div>
                <div class="info">
                    <span>{{total_editoras}}</span>
                    <h1>Editoras</h1>
                </div>
                <div class="info">
                    <span>{{total_generos}}</span>
                    <h1>Gêneros</h1>
                </div>
            </div>
        </aside>
    </main>
</body>
</html>