<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard do Gerente</title>
</head>
<body>
    <h1>Bem-vindo, {{ session['nome'] }}!</h1>
    
    <h2>Cadastrar Livros</h2>
    <a href="{{ url_for('cadastrar_livro') }}">Cadastrar Livro</a>

    <h2>Cadastrar Itens</h2>
    <ul>
        <li><a href="{{ url_for('cadastrar_autor') }}">Cadastrar Autor</a></li>
        <li><a href="{{ url_for('cadastrar_editora') }}">Cadastrar Editora</a></li>
        <li><a href="{{ url_for('cadastrar_genero') }}">Cadastrar Gênero</a></li>
    </ul>

    <h2>Consultas</h2>
    <ul>
        <li><a href="{{ url_for('listar_clientes') }}">Listar Clientes</a></li>
        <li><a href="{{ url_for('listar_emprestimos') }}">Listar Emprestimos</a></li>
        <li><a href="{{ url_for('listar_livros') }}">Listar Livros</a></li>
        <li><a href="{{ url_for('livros_nao_emprestados') }}">Livros Disponíveis</a></li>
        <li><a href="{{ url_for('relatorio_emprestimos_cliente') }}"> Relatório Emprestimos</a></li>
        <li><a href="{{ url_for('top_livros') }}">Top Livros</a></li>
        <li><a href="{{ url_for('clientes_acima_cem') }}">Clientes com Empréstimos Acima de R$100</a></li>
    </ul>
</body>
</html>
