<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Biblioteca</title>
</head>
<body>
    <h1>Sistema de Biblioteca</h1>

    <a href="/cadastro"><button>Cadastrar-se</button></a>
    <a href="/login_cliente"><button>Login</button></a>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-container">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


    <script>
        setTimeout(function() {
            var flashContainer = document.getElementById("flash-container");
            if (flashContainer) {
                flashContainer.style.transition = "opacity 0.5s";
                flashContainer.style.opacity = "0";
                setTimeout(() => flashContainer.remove(), 500); //
            }
        }, 3000);
    </script>

</body>
</html>