<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>Sistema de Biblioteca</h1>

    <a href="/cadastro"><button>Cadastrar Cliente</button></a>
    <a href="/cadastro_livro"><button>Cadastrar Livro</button></a>
    <a href="/login"><button>Login</button></a>

</body>
</html>