<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th><a href="{{ url_for('listar_clientes', ordem='asc') }}">▲</a> Nome <a href="{{ url_for('listar_clientes', ordem='desc') }}">▼</a></th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente[1] }}</td>
                <td>{{ cliente[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
</body>
</html>