<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Empréstimos</title>
</head>
<body>
    <h1>Lista de Empréstimos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Livro</th>
                <th>Data de Empréstimo</th>
                <th>Data de Devolução</th>
            </tr>
        </thead>
        <tbody>
            {% for emprestimo in emprestimos %}
            <tr>
                <td>{{ emprestimo.usuario }}</td>
                <td>{{ emprestimo.livro }}</td>
                <td>{{ emprestimo.data_emprestimo }}</td>
                <td>{{ emprestimo.data_devolucao }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>