<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Empréstimos</title>
</head>
<body>
    <h1>Lista de Empréstimos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Data Inicial</th>
                <th>Data de Devolução</th>
                <th>Total</th>
                <th>Cliente</th>
                <th>Livro</th>
            </tr>
        </thead>
        <tbody>
            {% for emprestimo in emprestimos %}
            <tr>
                <td>{{ emprestimo[0] }}</td>
                <td>{{ emprestimo[1] }}</td>
                <td>{{ emprestimo[2] }}</td>
                <td>{{ emprestimo[3] }}</td>
                <td>{{ emprestimo[4] }}</td>
                <td>{{ emprestimo[5] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('gerente_dashboard') }}">Voltar ao Dashboard</a>
</body>
</html>