<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='listar_livros.css') }}">
    <title>Listar Livros</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('gerente_dashboard' ) }}">Início</a>
        <a style="background-color: #052c25; color: white" href="{{ url_for('listar_livros' ) }}">Listar Livros</a>
        <a href="{{ url_for('listar_clientes' ) }}">Listar Clientes</a>
        <a href="{{ url_for('listar_emprestimos' ) }}">Listar Emprestimos</a>
        <a href="{{ url_for('top_livros' ) }}">Top Livros</a>
        <a href="{{ url_for('livros_nao_emprestados' ) }}">Não Emprestados</a>
        <a href="{{ url_for('relatorio_emprestimos_cliente' ) }}">Total Empréstimos</a>
        <a href="{{ url_for('clientes_acima_cem' ) }}">Acima R$100</a>
    </nav>
    <main class="main">
        <div class="list_titulo">
            <h1>Lista de Livros</h1>
        </div>
        
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a href="{{ url_for('listar_livros', ordem='asc') }}">▲</a>
                        Título
                        <a href="{{ url_for('listar_livros', ordem='desc') }}">▼</a>
                    </th>
                    <th>
                        Autor
                    </th>
                    <th>
                        Editora
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for livro in livros %}
                <tr>
                    <td>{{ livro[1] }}</td>  <!-- Título -->
                    <td>{{ livro[2] }}</td>  <!-- Autor -->
                    <td>{{ livro[3] }}</td>  <!-- Editora -->
                </tr>
                {% endfor %}
            </tbody>
            <a href="{{ url_for('gerente_dashboard') }}">Voltar ao Dashboard</a>
        </table>
    </main>
</body>
</html>