<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='filtros.css') }}">
    <title>Livros Não Emprestados</title>
</head>
<body>
    <nav>
        <a href="{{ url_for('gerente_dashboard' ) }}">Início</a>
        <a href="{{ url_for('listar_livros' ) }}">Listar Livros</a>
        <a href="{{ url_for('listar_clientes' ) }}">Listar Clientes</a>
        <a href="{{ url_for('listar_emprestimos' ) }}">Listar Emprestimos</a>
        <a href="{{ url_for('top_livros' ) }}">Top Livros</a>
        <a style="background-color: #052c25; color: white" href="{{ url_for('livros_nao_emprestados' ) }}">Não Emprestados</a>
        <a href="{{ url_for('relatorio_emprestimos_cliente' ) }}">Total Empréstimos</a>
        <a href="{{ url_for('clientes_acima_cem' ) }}">Acima R$100</a>
        <a href="{{ url_for('listagem_logs' ) }}">Listar Logs</a>
    </nav>
    <main class="main">
        <div class="list_titulo">
            <h1 style="font-family: 'Young Serif', 'Times New Roman'; font-size:80px;">Livros Não Emprestados</h1>
        </div>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Título do Livro</th>
            </tr>
        </thead>
        <tbody>
            {% for livro in livros %}
            <tr>
                <td>{{ livro[0] }}</td>
                <td>{{ livro[1] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-container">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}


    <script>
        setTimeout(function() {
            var flashContainer = document.getElementById("flash-container");
            if (flashContainer) {
                flashContainer.style.transition = "opacity 0.5s";
                flashContainer.style.opacity = "0";
                setTimeout(() => flashContainer.remove(), 500); //
            }
        }, 3000);
    </script>
</body>
</html>