<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Entrar como Gerente</title>
</head>
<body>

    <h1>Login de Gerentes</h1>

    <form action="{{ url_for('login_gerente') }}" method="post">
        <label for="email">Email:</label>
        <input class="email" type="email" id="email" name="email" placeholder="Digite seu email" required>

        <label for="senha">Senha:</label>
        <input class=senha type="password" id="senha" name="senha" placeholder="Digite sua senha" required>

        <input class="enviar" type="submit" value="Entrar">
    </form>

    <a href="{{url_for('index')}}" class="btn-index">&#x2190; Voltar para a Página Inicial</a>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <div id="flash-container">
                {% for category, message in messages %}
                    <div class="flash-message {{ category }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    <script>
        setTimeout(function() {
            var flashContainer = document.getElementById("flash-container");
            if (flashContainer) {
                flashContainer.style.transition = "opacity 0.5s";
                flashContainer.style.opacity = "0";
                setTimeout(() => flashContainer.remove(), 500); //
            }
        }, 3000);
    </script>

</body>
</html>