<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Empréstimos por Usuário</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Nome do Cliente</th>
                <th>Total de Empréstimos</th>
                <th>Total Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for item in relatorio %}
            <tr>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('gerente_dashboard') }}">Voltar ao Dashboard</a>
</body>
</html>
