<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Livros</title>
</head>
<body>
    <h1>Top Livros Mais Emprestados</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Livro</th>
                <th>Quantidade de Empréstimos</th>
            </tr>
        </thead>
        <tbody>
            {% for livro, quantidade in top_livros %}
            <tr>
                <td>{{ livro }}</td>
                <td>{{ quantidade }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
