<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuários com Mais de 100 Empréstimos</title>
</head>
<body>
    <h1>Usuários com Mais de 100 Empréstimos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Usuário</th>
                <th>Quantidade de Empréstimos</th>
            </tr>
        </thead>
        <tbody>
            {% for usuario, quantidade in usuarios_acima_cem %}
            <tr>
                <td>{{ usuario }}</td>
                <td>{{ quantidade }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>